body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fish-container {
    position: fixed;
    top: 50%;
    left: -100px;
    animation: swim 10s linear infinite; /* Adjusted animation */
}

.fish {
    width: 100px;
    height: auto;
}

@keyframes swim {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100vw); /* Move from left to right */
    }
}
