@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

/* Apply font to body, define at least font-size and font-family */
body {
    margin: 0;
    padding: 0.5rem;
    background-color: #ADD8E6;
    display: block;
    font-family: 'Roboto', sans-serif; 
    font-size: 1rem; 
}
/* Apply CSS rules to anything less than 750px */
@media (max-width: 750px) {
    #banner {
        position: relative; /* Creates a positioning context */
    }
    
    #banner-img {
        width: 100%;
        height: auto;
        /* z-index is optional here, depending on other elements in your layout */
    }
    
    audio {
        position: absolute;
        bottom: 10px; /* Adjust as needed to position over the image */
        left: 10px; /* Adjust as needed */
        z-index: 5; /* Ensures audio is above the image */
    }

    #banner {
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    
    #banner-img {
        width: 100%;
        height: auto;
    }
    
    header {
        background-color: #00008B;
        font-size: large;
        display: block;
        margin: 0;
        padding: 0;
    }
    
    .nav a {
        display: block;
        padding: 1rem;
        margin: 1rem;
        text-align: left;
    }
    
    a {
        margin: 1.2rem;
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        color: yellow;
        border: 1px solid white;
        border-radius: .5rem;
    }
    
    .active-link {
        background-color: white;
        color: black;
        font-weight: bold;
    }
    
    .content {
        display: block;
    }
    
    .content img {
        max-width: 300px;
        border: 3px solid black;
        border-radius: 5%;
    }

    #wrapper{
        background-color: lightgray;
        padding: 20px;
    }

    #wrapper img {
        max-width: 100%;
        height: auto; /* to maintain the aspect ratio */
    }
    
    p {
        margin: 10px;
        font-size: 1.3rem;
    }

    #top10fish{
        width: 250px;
    }

    .center{
        align-content: center;
    }

    footer {
        background-color: #00008B;
        color: white;
        font-size: medium;
        padding: 1rem;
        text-align: center;
    }
    .fish-container {
        display: none;
    }
  
}
