@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

@media (min-width: 700px) {
    body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ADD8E6;
    padding: .5rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
#banner {
    position: relative; /* Creates a positioning context */
    width: 100%;
    overflow: hidden; /* Hide any overflow if the image is larger than the banner */
}

#banner-img {
    width: 100%;
    height: auto;
 
}

audio {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    z-index: 1; /* Ensures audio is above the image */
}


#banner-img {
    width: 100%;
    height: auto; /* Maintain the image's aspect ratio */
}

#wrapper{
    background-color: #d3d3d3;
    padding: 20px;
}

#wrapper img {
    max-width: 100%;
    height: auto; /* to maintain the aspect ratio */
}

header{
    background-color: #00008B;
    font-size: xx-large;
    padding: 1.2rem;
    display: flex;
    justify-content: space-around;
}

nav a{
    margin: 1.2rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
}
footer a{
    color: white;
    padding: 1rem;
    text-decoration: none;
}

a:hover{
    color:yellow;
    border: 1px solid white;
    border-radius: .5rem;
}


.active-link {
    background-color: white;
    color: black; 
    font-weight: bold; 
    
}

h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
}

h2{
    /* text-align: center; */
    font-size: 1.5rem;
    margin-left: 10px;
}

.content{
    display: flex;
    align-items: center;  /*Horizontally center items */
}

p{
    margin: 10px;
    font-size: 1.3rem;
}

.content img{
    max-width: 300px;
    border: 3px solid black;
    border-radius: 5%;
}

#top10fish{
    width: 250px;
}

.center{
    display: flex;
    justify-content: center;
}

footer {
    background-color: #00008B;
    color: white;
    font-size: xx-large;
    padding: 1.2rem;
    text-align: center;
}
.fish-container {
    position: fixed;
    top: 29%;
    left: -100px;
    animation: swim 10s linear forwards; /* Adjusted animation */
}

.fish {
    width: 100px;
    height: auto;
}

@keyframes swim {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(120vw); /* Move from left to right */
    }
}
} 