.card{
    max-width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 2fr 60px 150px;
    border: 1px black solid;
    border-radius: 1rem;
}
img{
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
}
.card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-content{
    overflow: hidden;
}
.card-footer {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
}

